.modal-header {
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  background-color: #ff8663;
  color: #fff;
  font-size: 16px;
  padding: 13px 13px;
  position: relative;
}

.cross--close {
  background-image: url(./img/sprite.png);
  background-position: -3px 15px;
  float: right;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 17px;
  right: 14px;
}
