.search-container {
  background-color: #f0f0f0;
  padding: 10px 15px 35px 15px;
  position: relative;
}

.modal-input {
  border: 1px solid transparent;
  border-radius: 13px;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  padding: 5px 13px;
  margin: 0;
  width: 285px;
}

.modal-input--right {
  float: right;
}

.modal-input--left {
  float: left;
  padding-left: 26px;
}

.search-container__icon {
  background-image: url(./img/sprite.png);
  background-position: 74px 15px;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 17px;
  left: 22px;
}
