@import "./search.css";
@import "./friendlist.css";
@import "./modal_header.css";

@font-face {
  font-family: Firasans;
  src: url('./FiraSans-Medium.ttf');
}

body {
  background: rgba(129, 129, 129, .4);
  font-family: Firasans, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.main-block {
  width: 100%;
}

.title {
  background-image: url('./img/sprite.png');
  background-position: 0 0;
  margin: 90px auto 0;
  height: 24px;
  width: 100px;
}

.modal {
  margin: 20px auto 0;
  width: 620px;
  position: relative;
  padding-bottom: 357px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 8px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 0 0 10px 10px;
}

.save-state {
  background-color: #ff8663;
  border: 0;
  outline: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 10px;
  font-family: Firasans, Helvetica, sans-serif;
}
