@import "./search.css";
@import "./friendlist.css";
@import "./modal_header.css";

@font-face {
  font-family: Firasans;
  src: url('./FiraSans-Medium.ttf');
}

body {
  background: rgba(129, 129, 129, .4);
  font-family: Firasans, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.main-block {
  width: 100%;
}

.title {
  background-image: url('./img/sprite.png');
  background-position: 0 0;
  margin: 90px auto 0;
  height: 24px;
  width: 100px;
}

.modal {
  margin: 20px auto 0;
  width: 620px;
}
